{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Start Banner Area 
    ============================================= -->
    <div class="banner-style-four-area bg-cover text-light" style="background-image: url({% static 'assets/img/shape/1.jpg'%});">
        <div class="container">
            <div class="banner-items">
                <div class="row align-center">
                    <div class="col-lg-6 banner-style-four">
                        <div class="info">
                            <h4 class="sub-title">Best it solution</h4>
                            <h2 class="title">Creating a better <strong>Technology solutions</strong></h2>
                            <p>
                                Affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.
                            </p>
                            <div class="button">
                                <a class="btn btn-gradient btn-md radius animation" href="#">Meet with us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 banner-style-four">
                        <div class="thumb">
                            <img src="{% static 'assets/img/about/6.jpg' %}" alt="Thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Start Services 
    ============================================= -->
    <div class="services-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">Meet our services</h4>
                        <h2 class="title">We offer you all services <br> about professional IT Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="services-style-one-box">
                <div class="row">
                    <!-- Sngle Item -->
                    <div class="services-style-four col-xl-3 col-md-6">
                        <div class="item style-four-item">
                            <div class="bg-shape" style="background-image: url({% static 'assets/img/shape/28.png' %});"></div>
                            <div class="thumb" style="background-image: url({% static 'assets/img/services/4.jpg' %});"></div>
                            <i class="flaticon-data-processing"></i>
                            <h4><a href="#">Data Center</a></h4>
                            <p>
                                Indeed vanity excuse or lovers of on. By offer scale an energy. Blush be sorry no sight sang lose.
                            </p>
                            <div class="bottom">
                                <span>01</span>
                                <a href="#"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Sngle Item -->
                    <!-- Sngle Item -->
                    <div class="services-style-four col-xl-3 col-md-6">
                        <div class="item style-four-item active">
                            <div class="bg-shape" style="background-image: url(assets/img/shape/28.png);"></div>
                            <div class="thumb" style="background-image: url(assets/img/about/9.jpg);"></div>
                            <i class="flaticon-data-security"></i>
                            <h4><a href="#">Cloud Services</a></h4>
                            <p>
                                Indeed vanity excuse or lovers of on. By offer scale an energy. Blush be sorry no sight sang lose.
                            </p>
                            <div class="bottom">
                                <span>02</span>
                                <a href="#"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Sngle Item -->
                    <!-- Sngle Item -->
                    <div class="services-style-four col-xl-3 col-md-6">
                        <div class="item style-four-item">
                            <div class="bg-shape" style="background-image: url(assets/img/shape/28.png);"></div>
                            <div class="thumb" style="background-image: url(assets/img/services/3.jpg);"></div>
                            <i class="flaticon-augmented-reality"></i>
                            <h4><a href="#">Software Development</a></h4>
                            <p>
                                Indeed vanity excuse or lovers of on. By offer scale an energy. Blush be sorry no sight sang lose.
                            </p>
                            <div class="bottom">
                                <span>03</span>
                                <a href="#"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Sngle Item -->
                    <!-- Sngle Item -->
                    <div class="services-style-four col-xl-3 col-md-6">
                        <div class="item style-four-item">
                            <div class="bg-shape" style="background-image: url(assets/img/shape/28.png);"></div>
                            <div class="thumb" style="background-image: url(assets/img/about/4.jpg);"></div>
                            <i class="flaticon-stock-market"></i>
                            <h4><a href="#">IT Management</a></h4>
                            <p>
                                Indeed vanity excuse or lovers of on. By offer scale an energy. Blush be sorry no sight sang lose.
                            </p>
                            <div class="bottom">
                                <span>04</span>
                                <a href="#"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Sngle Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start About
    ============================================= -->
    <div class="about-style-four-area default-padding-bottom">
        <div class="container">
            <div class="row align-center">
                <div class="about-style-four col-lg-5">
                    <div class="thumb">
                        <img src="{% static 'assets/img/about/7.jpg' %}" alt="Thumb">
                        <div class="shape-move"></div>
                        <div class="shape-move"></div>
                    </div>
                </div>
                <div class="about-style-four col-lg-6 offset-lg-1">
                    <h4 class="sub-heading mb-20">Who we are</h4>
                    <h2 class="heading">Preparing for your success <br> trusted source in IT services</h2>
                    <p class="mb-0">
                        Dissuade ecstatic and properly saw entirely sir why laughter endeavor. In on my jointure horrible margaret suitable he followed speedily. Indeed vanity excuse or mr lovers of on. By offer scale an stuff. Blush be sorry no sight sang lose.
                    </p>
                    <ul>
                        <li>
                            We’ve created a paradigm to enhance this healing potential by taking all aspects.
                        </li>
                        <li>
                            Our courses are made with experts, pack a ton of value and are binge-able.
                        </li>
                        <li>
                            This approach to health care addresses the root causes of disease and views the body as one integrated system.
                        </li>
                    </ul>
                    <a class="btn mt-30 btn-md btn-theme" href="#">Know More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Brand 
    ============================================= -->
    <div class="brand-area">
        <div class="container">
            <div class="brand-items pt-80 pb-80">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-carousel swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'assets/img/logo/1.png' %}" alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'assets/img/logo/2.png' %}" alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'assets/img/logo/3.png' %}" alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'assets/img/logo/4.png' %}" alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'assets/img/logo/5.png' %}" alt="Thumb">
                                </div>
                                <!-- End Single Item -->
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand -->

    <!-- Start Process
    ============================================= -->
    <div class="process-area bg-dark text-center text-light default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">How it works</h4>
                        <h2 class="title">How do we manage <br> IT services for your industry</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
                <!-- Single Item -->
                <div class="col-lg-4 process-style-two">
                    <div class="item">
                        <img src="{% static 'assets/img/icon/3.png' %}" alt="Icon">
                        <h4>Send us Message</h4>
                        <p>
                            Evening do forming observe spirits is in. Country hearted be of justice sending. On so they as with room cold always point.
                        </p>
                        <a href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>               
                <!-- Single Item --> 

                <!-- Single Item -->
                <div class="col-lg-4 process-style-two">
                    <div class="item">
                        <img src="{% static 'assets/img/icon/4.png' %}" alt="Icon">
                        <h4>Discuss With Us</h4>
                        <p>
                            Greather do forming observe spirits is in. Country hearted be of justice sending. On so they as with room cold always point.
                        </p>
                        <a href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>               
                <!-- Single Item --> 

                <!-- Single Item -->
                <div class="col-lg-4 process-style-two">
                    <div class="item">
                        <img src="{% static 'assets/img/icon/5.png' %}" alt="Icon">
                        <h4>Make a Payment!</h4>
                        <p>
                            Perfection do forming observe spirits is in. Country hearted be of justice sending. On so they as with room cold always.
                        </p>
                        <a href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>               
                <!-- Single Item --> 


            </div>
        </div>
    </div>
    <!-- End Process -->

    <!-- Start Pricing Area
    ============================================= -->
    
    <!-- End Pricing Area -->

    <!-- Start Testimonials 
    ============================================= -->
    
    <!-- End Testimonails Area -->

    <!-- Start Projects 
    ============================================= -->
    <div class="projects-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">Case Studies</h4>
                        <h2 class="title">Latest showcase and <br> solutions to our customers!</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="masonary">
                        <div id="gallery-masonary" class="gallery-items text-center colums-3">
                            <!-- Single Item -->
                            <div class="gallery-item gallery-style-one">
                                <div class="item gallery-mixed-item">
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/portfolio/22.jpg' %}" alt="Thumb">
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <h4><a href="project-details.html">IT Management</a></h4>
                                            <span>Technology</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
    
                            <!-- Single Item -->
                            <div class="gallery-item gallery-style-one">
                                <div class="item gallery-mixed-item">
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/portfolio/8.jpg' %}" alt="Thumb">
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <h4><a href="project-details.html">Cyber Security</a></h4>
                                            <span>Technology</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
    
                            <!-- Single Item -->
                            <div class="gallery-item gallery-style-one">
                                <div class="item gallery-mixed-item">
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/portfolio/33.jpg' %}" alt="Thumb">
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <h4><a href="project-details.html">Cloud Computing</a></h4>
                                            <span>Technology</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
    
                            <!-- Single Item -->
                            <div class="gallery-item gallery-style-one">
                                <div class="item gallery-mixed-item">
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/portfolio/44.jpg' %}" alt="Thumb">
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <h4><a href="project-details.html">Software Dev</a></h4>
                                            <span>Technology</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Item -->

                            <!-- Single Item -->
                            <div class="gallery-item gallery-style-one">
                                <div class="item gallery-mixed-item">
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/portfolio/4.jpg' %}" alt="Thumb">
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <h4><a href="project-details.html">Backup & Recovery</a></h4>
                                            <span>Technology</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
    
                            <!-- Single Item -->
                            <div class="gallery-item gallery-style-one">
                                <div class="item gallery-mixed-item">
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/portfolio/5.jpg' %}" alt="Thumb">
                                    </div>
                                    <div class="content">
                                        <div class="info">
                                            <h4><a href="project-details.html">Social Media App</a></h4>
                                            <span>Technology</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Item -->
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- End Projects -->

    <!-- Start Team 
    ============================================= -->
    <div class="team-area text-center overflow-hidden default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">Expert team</h4>
                        <h2 class="title">Meet our expert from <br>trusted source in IT services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-carousel swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Single Item -->
                            <div class="swiper-slide">
                                <div class="team-style-one">
                                    <div class="thumb">
                                        <img src="{% static 'assets/img/team/1.jpg' %}" alt="Thumb">
                                        <div class="angle-shape" style="background-image: url({% static 'assets/img/shape/24.png' %});"></div>
                                    </div>
                                    <div class="info">
                                        <div class="content">
                                            <h4 class="title"><a href="team-details.html">Sporia Deko</a></h4>
                                            <span>Marketing</span>
                                        </div>
                                        <ul class="social">
                                            <li>
                                                <a class="facebook" href="#">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="twitter" href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="pinterest" href="#">
                                                    <i class="fab fa-pinterest"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                           
                            <!-- End Single Item -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team -->

    <!-- Start Quick Contact 
    ============================================= -->
    <div class="quick-contact-area bg-gradient text-light default-padding">
        <!-- Shape -->
        <div class="shape-left-top" style="background-image: url({% static 'assets/img/shape/25.png' %});"></div>
        <!-- Shape -->
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="quick-contact-style-one">
                        <h4 class="sub-heading light">Need a project?</h4>
                        <h2 class="heading">To make requests for further information, contact us via our social channels.</h2>
                        <ul>
                            <li>We just need a couple of hours!</li>
                            <li>No more than 2 working days since receiving your issue ticket.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1">
                    <form action="https://validthemes.live/themeforest/crysa/assets/mail/contact.php" method="POST" class="contact-form consultation-form theme">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="name">You Name</label>
                                    <input class="form-control" id="name" name="name" placeholder="Jonathom Doe" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input class="form-control" id="email" name="email" placeholder="support@crysta.com" type="email">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input class="form-control" id="phone" name="phone" placeholder="+4733378901" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <select id="subject">
                                        <option value="1">Chose Subject</option>
                                        <option value="2">it Solutions Support</option>
                                        <option value="4">Accounting Technologies</option>
                                        <option value="5">Support Items</option>
                                        <option value="6">Machine Language</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" name="submit" id="submit">
                                    Get Free Consultation <i class="fas fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Alert Message -->
                        <div class="col-lg-12 alert-notification">
                            <div id="message" class="alert-msg"></div>
                        </div>
                    </form>
                    <ul class="contact-list">
                        <li>
                            <div class="icon">
                                <i class="fal fa-user-headset"></i>
                            </div>
                            <div class="info">
                                <h5>Call for Emergency Assistance</h5>
                                <a href="tel:+4733378901">+4733378901</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Quick Contact -->

    <!-- Start Blog 
    ============================================= -->
    <div class="blog-area blog-grid default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">From the blog</h4>
                        <h2 class="title">Latest News & Articles</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 single-item">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="{% static 'assets/img/blog/1.jpg' %}" alt="Thumb"></a>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fal fa-tag"></i> Technology</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="far fa-comment-alt"></i> 5 min read</a>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="title">
                                <a href="blog-single-with-sidebar.html">Discovery incommode earnestly commanded mentions.</a>
                            </h4>
                        </div>
                        
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                
                <!-- Single Item -->
            </div>
        </div>
    </div>
    <!-- End Blog -->



   {% endblock %}